<script setup>
import { Head } from '@inertiajs/inertia-vue3';
import GuestLayout from '@/Layouts/GuestLayout.vue';

const props = defineProps({
    lessons: Array,
});
</script>

<template>
    <Head title="Рейтинг по пройденным урокам" />
    <guest-layout>
        <h3 class="sm:col-span-3 col-span-4 lg:text-[34px] md:text-[30px] sm:text-[26px] text-[22px] font-semibold opacity-90 mb-[40px]">Уроки по количеству просмотров учениками</h3>
        <div v-for="lesson in lessons" :key="lesson.id" class="bg-white mb-[20px] shadow-md rounded-md p-4">
            <h4 class="font-semibold">
                {{ lesson.name }}
            </h4>
            <p>
                {{ lesson.description }}
            </p>
            <iframe width="560" height="315" :src="lesson.link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <span class="opacity-60">
                {{ lesson.total_views }} просмотров
            </span>
        </div>
    </guest-layout>
</template>
