<script setup>
import { Head } from '@inertiajs/inertia-vue3';
import GuestLayout from '@/Layouts/GuestLayout.vue';
import StudentsModal from '@/Components/StudentsModal.vue'
import { useModal } from '@/composables/modal'
const { openStudentsModal } = useModal()

const props = defineProps({
    course: Object,
    lessons: Array,
});

console.log(props.course)

</script>

<template>
    <Head title="Содержание" />
    <guest-layout>
        <students-modal/>
        <h2 class="sm:col-span-3 col-span-4 lg:text-[34px] md:text-[30px] sm:text-[26px] text-[22px] font-semibold opacity-90 mb-[10px]">
            {{ course.name }}
        </h2>
        <p class="mb-[10px]">
            {{ course.description }}
        </p>
        <h3 class="sm:col-span-3 col-span-4 lg:text-[34px] md:text-[20px] sm:text-[26px] text-[22px] font-semibold opacity-90 mb-[40px]">Содержание</h3>
        <div v-for="lesson in lessons" :key="lesson.id" class="bg-white mb-[20px] shadow-md rounded-md p-4 cursor-pointer" @click="openStudentsModal(lesson.id)">
            <h4 class="font-semibold">
                {{ lesson.name }}
            </h4>
            <p>
                {{ lesson.description }}
            </p>
            <span class="opacity-60">
                {{ lesson.total_views }} просмотров
            </span>
        </div>
    </guest-layout>
</template>
