<script setup> 
import Modal from '@/Components/Modal.vue'
import { useModal } from '@/composables/modal'
const { modalState } = useModal()
</script>
<template>
    <modal :show="modalState.showModal" @close="modalState.showModal = false">
       <div class="p-4">
            <h3 class="text-[22px] font-semibold">
                Пройденные уроки
            </h3>
            <div v-for="lesson in modalState.student.completedLessons" :key="lesson.id" class="mb-[10px]">
                {{ lesson.name }}
            </div>
       </div>
    </modal>
</template>