<script setup> 
</script>
<template>
    <section class="bg-gray-100 w-full shadow-md">
        <header class="mx-[2rem] max-w-[1200px] flex items-center relative h-[80px]">
            <img src="/assets/service/burger.svg"/>
            <a href="https://platform.productstar.ru/" class="opacity-80">
                <img src="/assets/service/logo.svg" class="ml-3 opacity-80"/>
            </a>
        </header>
    </section>
</template>