<script setup>
import { useModal } from '@/composables/modal'
const { modalState } = useModal()
const props = defineProps({
    links: Array,
    type: String,
    id: Number
})

function getResults(link) {
    axios.get(link,{
        params: {
            id: props.id
        },
      },)
    .then(function (response) {
        if(props.type == 'lesson/completed') {
            modalState.lesson.usersCompleted = response.data.data
            console.log(response.data.meta)
            modalState.lesson.links = response.data.meta.links
            modalState.showModal = true
        }
    })
    .catch(function (error) {
        // handle error
        console.log(error)
    })
}

</script>

<template>
    <div v-if="links.length > 3">
        <div class="flex flex-wrap -mb-1">
            <template v-for="(link, p) in links" :key="p">
                <div v-if="link.url === null" class="mr-1 mb-1 px-4 py-3 text-sm leading-4 text-gray-400 border rounded"
                    v-html="link.label" />
                <span v-else
                    class="mr-1 mb-1 px-4 py-3 text-sm leading-4 border rounded hover:bg-white focus:border-indigo-500 focus:text-indigo-500 cursor-pointer"
                    :class="{ 'bg-blue-700 text-white': link.active }" @click="getResults(link.url)" v-html="link.label"> </span>
            </template>
        </div>
    </div>
</template>