<script setup> 
import Modal from '@/Components/Modal.vue'
import { useModal } from '@/composables/modal'
const { modalState } = useModal()
import PaginationJson from '@/Components/PaginationJson.vue'
</script>
<template>
    <modal :show="modalState.showModal" @close="modalState.showModal = false">
       <div class="p-4">
            <h3 class="text-[22px] font-semibold">
                Прошли урок
            </h3>
            <div v-for="student in modalState.lesson.usersCompleted" :key="student.id" class="mb-[10px]">
               <p>
                    {{ student.name }} {{ student.surname }}
               </p>
               <p>
                    {{ student.email }}
               </p>
            </div>
            <pagination-json class="mt-6" :links="modalState.lesson.links" type="lesson/completed" :id="modalState.lesson.id"/>
       </div>
    </modal>
</template>