<script setup>
import { Link } from '@inertiajs/inertia-vue3'
</script>

<style scoped>
.active {
    border-color: #1f49c5;
    border-bottom-width: 1px;
}
</style>

<template>
    <section class=" my-4 shadow-md mx-auto px-6 py-3 flex overflow-auto">
        <div class="flex items-center max-w-[1200px] space-x-10">
            
            <Link :class="route().current('students') ? 'active' : 'opacity-90'" href="/">
                Ученики
            </Link>
            <Link href="/list-top" :class="route().current('rating') ? 'active' : 'opacity-90'">
                Рейтинг
            </Link>
            <Link :class="route().current('lessons') ? 'active' : 'opacity-90'" href="/lessons">
                Уроки
            </Link>
            <Link href="/lessons-most-viewed" :class="route().current('lessons-sorted') ? 'active' : 'opacity-90'">
                Уроки по просмотрам
            </Link>
            <Link href="/contents" :class="route().current('contents') ? 'active' : 'opacity-90'">
                Содержание
            </Link>
        </div>
    </section>
</template>
