<script setup>
import { Link } from '@inertiajs/inertia-vue3';
import HeaderElement from '@/Components/HeaderElement.vue'
import Tabs from '@/Components/Tabs.vue'
</script>

<template>
    <header-element/>
    <tabs/>
    <div>
        <slot />
    </div>
</template>
