<script setup>
import { Head, Link } from '@inertiajs/inertia-vue3';
import Pagination from '@/Components/Pagination.vue'
import CompletedModal from '@/Components/CompletedModal.vue'
import GuestLayout from '@/Layouts/GuestLayout.vue';
import { useModal } from '@/composables/modal'
const { openLessonsModal } = useModal()

const props = defineProps({
    students: Object,
})

</script>

<template>
    <Head title="Список учеников" />
    <completed-modal/>
    <guest-layout>
        <section class="max-w-[1200px] mx-auto">
            <h3 class="sm:col-span-3 col-span-4 lg:text-[34px] md:text-[30px] sm:text-[26px] text-[22px] font-semibold opacity-90 mb-[40px]">Ученики</h3>
            <table class="text-center">
                <tr>
                    <th>
                        Имя
                    </th>
                    <th>
                        Почта
                    </th>
                    <th>
                        Прогресс
                    </th>
                    <th>
                        Место
                    </th>
                </tr>
                <tr v-for="student in students.data" :key="student.id" class="cursor-pointer">
                    <td @click="openLessonsModal(student.id)" :data="{ id: student.id }">
                        {{ student.name }} {{ student.surname }}
                    </td>
                    <td>
                        {{ student.email }}
                    </td>
                    <td>
                        {{ student.completion_percentage }}%
                    </td>
                    <td>
                        {{ student.same_rank_first_pos + 1 }} - {{ student.same_rank_first_pos + student.students_same_rank }}
                    </td>
                </tr>
            </table>
            <pagination class="mt-6" :links="students.meta.links" />
        </section>
    </guest-layout>
</template>
